body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffc107;
    font-size: 50px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
font-weight: 300;
color: #ffc107;
font-size: 42px;
}

p {
font-size: 21px;
color: gray;
}

#footer {
    text-align: right;
}

video {
    width: 350px;
}